<div class="row">
    <div class="col d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">

                <mat-form-field class="custom-form-field">
                    <mat-label>Filter Table</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                </mat-form-field>
                
                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="student_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Student</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.student_id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="Nom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.Nom}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="Prenom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.Prenom}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="numero_de_telephone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> 0{{row.numero_de_telephone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_cin">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID CIN</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.id_cin}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="Email_JobIntech">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email JobIntech</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.Email_JobIntech}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                      <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.address}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                </div>
                
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>
