<div class="row">
    <div class="col-sm-6 col-xl-3" [routerLink]="['/team-dotnet']">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a><img src="./assets/images/Microsoft_.NET.png" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Developers .NET</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3" [routerLink]="['/team-java']">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a><img src="./assets/images/java-logo.png" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Developers Java</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3" [routerLink]="['/team-cyber']">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a><img src="./assets/images/Cyber-Security.png" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Cyber Security List</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3" [routerLink]="['/team-data']">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a><img src="../assets/images/data-analysis.png" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Data Analyst List</h6>
        </div>
      </div>
    </div>
</div>